<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaka.mapper.UserMapper">
    <resultMap id="MyUser" type="com.kaka.bean.User">
        <!--指定主键列的封装规则  也可用result  只是id会优化-->
        <id column="id" property="id" />
        <result column="user_name" property="username"></result>
    </resultMap>
    
    
    <select id="getUserById" resultType="com.kaka.bean.User">
        select * from t_user
        where
        <if test="id != null">
          id = #{id}
        </if>
    id = #{id}
    </select>
</mapper>